<div class="container">
  <div class="container__body">
    <h2>{{profileTitle}}</h2>
    <div class="card" style="width: 25rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">username: admin</li>
        <li class="list-group-item">email: admin@gmail.com</li>
        <li class="list-group-item">password: 123456</li>
        <li class="list-group-item">phone number: 0676722817</li>
        <li class="list-group-item">city: Lviv</li>
      </ul>
    </div>
    <button
      type="button"
      style="margin-top: 1rem"
      class="btn btn-primary"
      (click)="handleLogout()">Logout</button>
  </div>
</div>
